<h2>Welcome to Quibble!</h2>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Let's Quibble</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>Some text in the Modal..</p>
    <button id="newBtn">Submit</button>
  </div>

</div>

<%= javascript_pack_tag 'modal' %>
